.home{
    width: 1230px;
    background-color: rgb(71, 67, 67);
    padding: 10px 0px 10px 0px;
    margin-left: 10%;
    margin-right: 10%;
    color: antiquewhite;
    max-height: max-content;
    height: max-content;
    
}
.indent{
    text-indent: 100px;
    text-align: justify;
    text-justify: inter-word;
    word-spacing: 5px;
    word-wrap: break-word;
    overflow:scroll ;
}

a{
    align-items: center;
    color: rgb(24, 115, 234);
    size: 10%px;
}

.social{
    padding: 5px;
    font-weight: bold;
    color: aquamarine;
    text-align: center;
}

.icon{
    margin: 2%;
}

.new{
    float: right;
    background-color: blueviolet;
}
